@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    visibility: hidden;
  }
  #printable-document,
  #printable-document * {
    visibility: visible;
  }
  #printable-document {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20mm;
    box-shadow: none;
    border: none;
  }
}
